.md-typeset pre {
  line-height: 1.5;
  font-size: 75%;
}

.md-logo {
  height: 24px;
  width: 24px;
}

.md-logo img {
  height: 36px;
  width: 36px;
  margin-top: -5px;
}

/* redirect notice */
.notice {
  text-align: center;
  border: 1px solid #fd9;
  padding: 1em;
  background-color: #fff1d3;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 4s;
  animation: slide 1.0s forwards;
  animation-delay: 2s;
      margin-bottom: 20px;
}

@-webkit-keyframes slide {
  100% { bottom: 0; }
}

@keyframes slide {
  100% { bottom: 0; }
}

/* Make notice stretch across the bottom on mobile */
@media screen and (max-width: 450px) {
  .notice {
    width: 100%;
  }
}

input, .md-search__input::placeholder, .md-search__input ~ .md-search__icon {
  color: #ecedee;
}
