.toctree-l2 { margin-left: -12px; }
.toctree-l3 { margin-left: 0px; }
.toctree-l4 { margin-left: 12px; }
.wy-menu-vertical span { padding-top: 20px; text-transform: uppercase; }
.wy-menu-vertical .subnav a { padding: 0.4045em 1.627em }
.wy-menu-vertical li ul.subnav ul.subnav { padding-left: inherit; margin-left: -10px; }
.wy-menu-vertical .subnav li.current > a { padding-left: 1.627em }
li.toctree-l3:first-child { display: none }
code { padding: 3px 6px; font-size: 80% !important; border-bottom: 2px solid #e1e4e5; color: black }
code.hljs { font-size: 90% !important }
pre { margin-bottom: 40px }
.rst-content .section ul { line-height: 30px }

.section table { margin-bottom: 20px; text-align: left; font-size: 16px; line-height: 20px; }
.section table th { padding: 8px 15px; border: 1px solid #e1e4e5 }
.section table td { padding: 8px 15px; border: 1px solid #e1e4e5; background-color: #f3f6f6 }
.section table tr:nth-child(even) td { background-color: #FFF }

/*li.toctree-l2:first-child { display: none }*/

hr { margin: 50px 0 }

/* List font on the same size page text */
ul { font-size: 16px }

.section a { border-bottom: 1px solid #BBB; color: #000 !important }
.section a:hover { border-bottom: 1px solid #3091d1 }

.section blockquote { background-color: #e7f2fa; margin: 20px 0px; padding: 10px; border-left: 2px solid #2980B9; }
.section blockquote p { margin: 4px 0px; }

#disqus_thread { margin-bottom: 50px }

.loadcomments {
	padding: 10px 15px; display: inline-block; border-radius: 2px; border-bottom: 2px solid #CDBD1E; transition: all 0.5s;
	background-color: #FFF85F; font-size: 20px; line-height: 31px; background-position: left center
}

.md-logo {
  height: 24px;
  width: 24px;
}

.md-logo img {
  height: 36px;
  width: 36px;
  margin-top: -5px;
}

/* redirect notice */
.notice {
  text-align: center;
  position: fixed;
  bottom: -50%;
  right: 0px;
  border: 1px solid #ccc;
  padding: 1em;
  background-color: #d8d8d8;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 4s;
  animation: slide 1.0s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes slide {
  100% { bottom: 0; }
}

@keyframes slide {
  100% { bottom: 0; }
}

/* Make notice stretch across the bottom on mobile */
@media screen and (max-width: 450px) {
  .notice {
    width: 100%;
  }
}

input, .md-search__input::placeholder, .md-search__input ~ .md-search__icon {
  color: #ecedee;
}
