.toctree-l3 { padding-left: 50px !important }
code { padding: 3px 6px; font-size: 80% !important; border-bottom: 2px solid #e1e4e5; color: black }
code.hljs { font-size: 90% !important }
pre { margin-bottom: 40px }
.rst-content .section ul { line-height: 30px }

.section table { margin-bottom: 20px; text-align: left }
.section table th { padding: 8px 15px; border: 1px solid #e1e4e5 }
.section table td { padding: 8px 15px; border: 1px solid #e1e4e5; background-color: #f3f6f6 }
.section table tr:nth-child(even) td { background-color: #FFF }

li.toctree-l2:first-child { display: none }

h4 em { font-style: normal; color: #999 }
hr { margin: 50px 0 }